.onglet a {
	font-size: 20px;
	text-decoration: none;
	color: grey;
	border-bottom: 1px solid grey;
	
}

h1 {
	color: white;
}

header {
	background: url(https://static.zerochan.net/BLEACH.full.886404.jpg);
	background-size: cover;
	width: 1334px;
	height: 437px;
}

body {
	background-color: black;
}